@import 'assets/css/variables.scss';

.upload-button {
  position: relative;
  background: transparent;
  width: 28px;
  height: 28px;

  cursor: pointer;
  overflow: hidden;

  .upload-button-image {
    width: 100%;
    height: auto;
  }

  .dim {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background: $state-04;
    width: 100%;
    height: 100%;
  }

  &:hover .dim {
    display: block;
  }
}