@import "assets/css/index.scss";

.watch-page-container {
  display: flex;
  padding-top: 48px;
  padding-bottom: 98px;

  @include mobile {
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
  }

  .main-container {
    width: 100%;
    margin-right: 28px;

    .video-container {
      position: relative;
      @include mobile {
      }
      @include desktop {
        margin-bottom: 20px;
      }

      &:hover .video-graph-container {
        opacity: 1;
      }

      .video-graph-container {
        position: absolute;
        bottom: 50px;
        width: 100%;
        height: 32px;
        padding-top: 4px;
        padding-bottom: 4px;
        color: $gray-900;
        background: $system-dim-black;
        opacity: 0;
        transition: all 0.2s;
        pointer-events: none;
      }
    }

    .video-information-container {
      display: flex;
      justify-content: space-between;

      @include mobile {
        padding: 20px 16px 20px 16px;
      }
      @include desktop {
      }

      .title {
        color: $gray-900;
        word-break: keep-all;
        @include mobile {
        }
        @include desktop {
          margin-bottom: 60px;
        }
      }

      .right-side {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include mobile {
          width: 80px;
          flex-direction: column;
        }
        @include desktop {
          width: 180px;
          height: 32px;
          flex-wrap: wrap;
        }

        .video-hits-text {
          color: $gray-700;

          @include mobile {
            margin-top: 8px;
          }
          @include desktop {
            margin-left: 16px;
          }
        }
      }
    }

    @include mobile {
      .watch-page-test {
        position: fixed;
        background: $bg;
        width: 100vw;
        left: 0;
        top: 44px;
        z-index: 1000;
      }

      .watch-page-cam-container {
        margin-top: 400px;

        .emotion-container {
          display: flex;
          flex-direction: column;
          margin-bottom: 48px;

          .emotion-title-wrapper {
            display: flex;

            .emotion-title {
              color: $gray-900;
              margin-right: 8px;
            }
          }

          .graph-container {
            height: 12px;
            border-radius: 2px;
            margin-top: 22px;

            .graph-tooltip-container {
              width: 80px;
              height: 50px;
              background: $gray-700;
            }
          }

          .graph-detail-container {
            display: flex;
            justify-content: space-between;
            margin-top: 22px;
          }
          .graph-detail-item {
            justify-content: center;
            align-items: center;
          }
        }
        .emotion-container:last-child {
          margin-bottom: 32px;
        }

        .others-emotion-container {
          margin-bottom: 60px;

          .others-emotion-title-wrapper {
            display: flex;

            .others-emotion-title {
              color: $gray-900;
              margin-right: 8px;
            }
          }
        }
      }
    }

    .comment-container {
      .comment-input-container {
        display: flex;
        align-items: center;
        margin-bottom: 44px;

        .comment-input {
          margin-left: 12px;
        }
      }

      .comment-info-text {
        color: $gray-900;
        margin-bottom: 32px;
      }

      .comment-list-container {
        .comment-item-container {
          display: flex;
          align-items: flex-start;
          margin-bottom: 24px;

          .comment-text-wrapper {
            .comment-info-wrapper {
              display: flex;
              margin-bottom: 4px;

              .comment-nickname {
                color: $gray-500;
                margin-right: 4px;
              }

              .comment-time-text {
                color: $gray-300;
              }
            }

            .comment-text {
              color: $gray-900;
              word-break: keep-all;
            }
          }
        }

        .no-comments-text {
          color: $gray-600;
        }
      }
    }
  }

  .side-container {
    width: 320px;

    .emotion-container {
      margin-bottom: 48px;

      .emotion-title-wrapper {
        display: flex;

        .emotion-title {
          color: $gray-900;
          margin-right: 8px;
        }
      }

      .graph-container {
        height: 12px;
        border-radius: 2px;
        margin-top: 22px;

        .graph-tooltip-container {
          width: 80px;
          height: 50px;
          background: $gray-700;
        }
      }

      .graph-detail-container {
        display: flex;
        justify-content: space-between;
        margin-top: 22px;

        .graph-detail-item {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &.active .emotion-text,
          &.active .emotion-percentage {
            color: $primary-basic;
          }

          .emotion-text {
            color: $gray-800;
            margin: 6px 0 6px 0;
          }

          .emotion-percentage {
            color: $gray-800;
          }
        }
      }
    }

    .recommend-container {
      .recommend-title {
        color: $gray-900;
        margin-bottom: 32px;
      }

      .recommend-video-container {
      }
    }
  }
}

.custom-tooltip {
  .custom-tooltip-text {
    color: $gray-900;
  }
}
