@import "assets/css/index.scss";

.watch-page-container {
  display: flex;
  padding-top: 48px;
  padding-bottom: 98px;

  @include mobile {
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
  }

  .main-container {
    width: 100%;
    margin-right: 28px;

    .title {
      color: $gray-900;
      margin-bottom: 60px;
    }

    @include mobile {
      .watch-page-test {
        position: fixed;
        background: $bg;
        width: 100vw;
        left: 0;
        z-index: 1000;
      }

      .watch-page-cam-container {
        margin-top: calc(100vw * (9 / 16) + 72px);
      }

      .my-emotion-container {
        margin-bottom: 48px;

        .my-emotion-title-wrapper {
          display: flex;

          .my-emotion-title {
            color: $gray-900;
            margin-right: 8px;
          }
        }

        .graph-container {
          height: 12px;
          border-radius: 2px;
          margin-top: 22px;

          .graph-tooltip-container {
            width: 80px;
            height: 50px;
            background: $gray-700;
          }
        }
      }

      .others-emotion-container {
        margin-bottom: 60px;

        .others-emotion-title-wrapper {
          display: flex;

          .others-emotion-title {
            color: $gray-900;
            margin-right: 8px;
          }
        }
      }
    }

    .comment-container {
      .comment-input-container {
        display: flex;
        align-items: center;
        margin-bottom: 44px;

        .comment-input {
          margin-left: 12px;
        }
      }

      .comment-info-text {
        color: $gray-900;
        margin-bottom: 32px;
      }

      .comment-list-container {
        .comment-item-container {
          display: flex;
          align-items: flex-start;
          margin-bottom: 24px;

          .comment-text-wrapper {
            .comment-info-wrapper {
              display: flex;
              margin-bottom: 4px;

              .comment-nickname {
                color: $gray-500;
                margin-right: 4px;
              }

              .comment-time-text {
                color: $gray-300;
              }
            }

            .comment-text {
              color: $gray-900;
              word-break: keep-all;
            }
          }
        }

        .no-comments-text {
          color: $gray-600;
        }
      }
    }
  }

  .side-container {
    width: 320px;

    .my-emotion-container {
      margin-bottom: 48px;

      .my-emotion-title-wrapper {
        display: flex;

        .my-emotion-title {
          color: $gray-900;
          margin-right: 8px;
        }
      }

      .graph-container {
        height: 12px;
        border-radius: 2px;
        margin-top: 22px;

        .graph-tooltip-container {
          width: 80px;
          height: 50px;
          background: $gray-700;
        }
      }
    }

    .others-emotion-container {
      margin-bottom: 60px;

      .others-emotion-title-wrapper {
        display: flex;

        .others-emotion-title {
          color: $gray-900;
          margin-right: 8px;
        }
      }
    }

    .recommend-container {
      .recommend-title {
        color: $gray-900;
        margin-bottom: 32px;
      }

      .recommend-video-container {}
    }
  }
}