@import "assets/css/index.scss";

.main-page-container {
  padding-top: 80px;
  padding-bottom: 98px;

  .title {
    color: $gray-900;
  }

  .subtitle {
    color: $gray-400;
    margin-top: 12px;
    margin-bottom: 25px;
  }

  .personal-recommend-contents-container {
    width: 100%;
    margin-bottom: 120px;

    .indicator-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 34px;
    }

    .video-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .hot-contents-container {
    .title {
      margin-bottom: 16px;
    }

    .chip-wrapper {
      display: flex;
      margin-bottom: 56px;
    }

    .video-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
