@import "assets/css/index.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 128px;
}

.logo-wrapper {
    margin-top: 84px;
    margin-bottom: 144px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 380px;

    .input-label {
        color: $gray-900;
        margin-bottom: 16px;
    }

    .input-alert-message {
        color: $system-error;
        margin-top: 8px;
    }
}