@import "assets/css/index.scss";

.edit-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;

  .edit-page-user-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    margin-top: 80px;
  }

  .edit-page-edit-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 48px;
  }

  .edit-page-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 380px;
    margin-bottom: 8px;

    .edit-page-input-label {
      color: $gray-900;
    }
  }

  .edit-page-input-alert-message {
    color: $system-error;
  }
}
