@import "assets/css/index.scss";

.editpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;

  .editpage-user-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    margin-top: 80px;
  }

  .editpage-edit-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 48px;
  }

  .editpage-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 380px;

    .editpage-input-label {
      color: $gray-900;
    }
  }

  .editpage-input-alert-message {
    color: $system-error;
  }
}
