@import "assets/css/index.scss";

.edit-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    padding-top: 38px;
  }
  @include desktop {
    padding-top: 70px;
  }

  .edit-page-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      width: calc(100vw - 32px);
      margin-top: 60px;
    }
    @include desktop {
      width: 380px;
      margin-top: 80px;
    }

    .edit-page-edit-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 48px;
    }

    .edit-page-input-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 380px;
      margin-bottom: 8px;

      .edit-page-input-label {
        color: $gray-900;
      }
    }

    .edit-page-category-wrapper {
      width: 100%;
    }
  }

  .edit-page-input-alert-message {
    color: $system-error;
  }
}
