@import "assets/css/index.scss";

.next-icon {
  &.large {
    width: 32px;
    height: 32px;
  }
  &.small {
    width: 24px;
    height: 24px;
  }
}

.next-icon-image {
  &.large {
    width: 32px;
    height: 32px;
  }
  &.small {
    width: 24px;
    height: 24px;
  }
}
