@import "assets/css/index.scss";

.some-icon {
  cursor: pointer;
  &.large-next {
    width: 32px;
    height: 32px;
  }
  &.small-next {
    width: 24px;
    height: 24px;
  }
  &.close {
    width: 20px;
    height: 20px;
  }
  &.more {
    border-radius: 100%;
    width: 24px;
    height: 24px;

    &:hover {
      background: $system-dim-white;
    }
  }
}

.some-icon-image {
  &.large-next {
    width: 32px;
    height: 32px;
  }
  &.small-next {
    width: 24px;
    height: 24px;
  }
  &.close {
    width: 20px;
    height: 20px;
  }
  &.more {
    width: 24px;
    height: 24px;
  }
}
