@import "assets/css/index.scss";

.animated-logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;

  .animated-bar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98%;

    &.animated-infinite .animated-bar {
      animation-iteration-count: infinite;
    }

    &.animated-once .animated-bar {
      animation-iteration-count: 1;
    }

    .animated-bar {
      width: 100%;
      height: 30.5%;
      animation-duration: 10s;

      &.animated-bar-1 {
        width: 100%;
        background-color: $brand-red;
        animation-name: spring-1;
      }

      &.animated-bar-2 {
        width: 75%;
        background-color: $brand-yellow;
        animation-name: spring-2;
      }

      &.animated-bar-3 {
        width: 37%;
        background-color: $brand-blue;
        animation-name: spring-3;
      }
    }
  }

  .logoR {
    height: 100%;
    width: auto;
  }
}

@keyframes spring-1 {
  0% {
    width: 5%;
  }

  1% {
    width: 5%;
  }

  2% {
    width: 110%;
  }

  3% {
    width: 50%;
  }

  4% {
    width: 106%;
  }

  5% {
    width: 75%;
  }

  6% {
    width: 102%;
  }

  7% {
    width: 90%;
  }

  8% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}

@keyframes spring-2 {
  0% {
    width: 5%;
  }

  1% {
    width: 5%;
  }

  2% {
    width: 82%;
  }

  3% {
    width: 50%;
  }

  4% {
    width: 78%;
  }

  5% {
    width: 64%;
  }

  6% {
    width: 75%;
  }

  7% {
    width: 70%;
  }

  8% {
    width: 75%;
  }

  100% {
    width: 75%;
  }
}

@keyframes spring-3 {
  0% {
    width: 2%;
  }

  1% {
    width: 2%;
  }

  2% {
    width: 40%;
  }

  3% {
    width: 30%;
  }

  4% {
    width: 38%;
  }

  5% {
    width: 33%;
  }

  6% {
    width: 37%;
  }

  7% {
    width: 35%;
  }

  8% {
    width: 37%;
  }

  100% {
    width: 37%;
  }

}