@import 'assets/css/variables.scss';

.text-input {
    color: $gray-900;
    background-color: $gray-100;
    padding: 16px 14px 16px 14px;
    border: 1px solid $gray-100;
    border-radius: 4px;
    outline: none;

    transition: border .2s;

    &::placeholder {
        color: $gray-400;
    }

    &:focus {
        border: 1px solid $gray-700;
    }
}