@import "assets/css/index.scss";

.video-item-container {
  position: relative;
  width: 280px;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  .video-thumbnail {
    width: auto;
    height: 158px;
    position: absolute;
  }

  .video-info-container {
    width: 100%;
    background: $gray-50;
    padding: 24px 12px 24px 12px;
    margin-top: -2.5px;

    .video-title {
      color: $gray-900;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 8px;
    }

    .video-emotion-data {
      color: $gray-900;
    }
  }
}