@import "assets/css/index.scss";

.chip {
  position: relative;

  color: $gray-900;
  background: $gray-50;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s;

  &.category-big {
    padding: 8px 16px 8px 16px;
    height: 39px;
  }

  &.category-small {
    padding: 8px 12px 8px 12px;
    height: 32px;
  }

  &:hover {
    transform: scale(1.2);

    &.all {
      color: $gray-50;
      background: $gray-900;
    }

    &.happy {
      background: $category-joyful-tinted;
      color: $gray-900;
    }

    &.surprise {
      background: $category-surprised-tinted;
      color: $gray-900;
    }

    &.sad {
      background: $category-sad-tinted;
      color: $gray-900;
    }

    &.angry {
      background: $category-angry-tinted;
      color: $gray-900;
    }

    &.plus {
      background: $gray-100;
    }
  }

  &.selected {
    &.all {
      color: $gray-50;
      background: $gray-900;
    }

    &.happy {
      background: $category-joyful-basic;
      color: $gray-900;
    }

    &.surprise {
      background: $category-surprised-basic;
      color: $gray-900;
    }

    &.sad {
      background: $category-sad-basic;
      color: $gray-900;
    }

    &.angry {
      background: $category-angry-basic;
      color: $gray-900;
    }
  }
}

.plus-icon {
  width: 20px;
  height: 20px;
}
