@import "assets/css/index.scss";

.chip {
  position: relative;
  width: fit-content;
  color: $gray-900;
  background: $gray-50;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
  overflow: hidden;

  &.selected {
    &.all {
      color: $gray-50;
      background: $gray-900;
    }

    &.happy {
      background: $category-joyful-tinted;
      color: $gray-900;
    }

    &.surprise {
      background: $category-surprised-tinted;
      color: $gray-900;
    }

    &.sad {
      background: $category-sad-tinted;
      color: $gray-900;
    }

    &.angry {
      background: $category-angry-tinted;
      color: $gray-900;
    }

    &.neutral {
      background: $system-dim-black;
      color: $gray-900;
    }
  }
}
