@import "assets/css/index.scss";

.main-page-modal-title {
  text-align: center;
}
.main-page-modal-input-container {
  width: 100%;
  margin-top: 80px;

  .main-page-modal-input-label {
    margin-bottom: 16px;
  }

  .main-page-modal-input-wrapper {
    width: 100%;
    display: flex;
  }
}

.main-page-modal-thumbnail-container {
  margin-top: 36px;
  height: 298px;
  overflow: auto;
  .main-page-modal-thumbnail-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 214px;
    background: $gray-200;
    border-radius: 12px;

    .main-page-modal-thumbnail-empty-image {
      width: 80px;
      height: 80px;
    }
  }

  .main-page-modal-thumbnail-registering {
    width: 380px;
    height: 214px;
    margin-top: 36px;
    border-radius: 12px;
  }

  .main-page-modal-thumbnail-registered {
    width: 380px;
    height: 214px;
    margin-top: 36px;
    border-radius: 12px;
  }
}
