@import "assets/css/index.scss";

.my-page-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 98px;

  @include mobile {
    width: 100vw;
    padding-top: 17px;
    padding-left: 16px;
  }
  @include desktop {
    padding-top: 48px;
    width: calc(50vw + 600px);
  }

  .my-page-user-container {
    display: flex;
    flex-direction: column;

    @include mobile {
      width: calc(100vw - 32px);
    }
    @include desktop {
      width: 1200px;
      flex-direction: column;
    }

    .my-page-user-info-container {
      display: flex;

      @include mobile {
        margin-bottom: 44px;
      }
      @include desktop {
        flex-direction: column;
        margin-bottom: 56px;
      }
    }

    .my-page-user-edit-container {
      display: flex;
      justify-content: space-between;

      @include mobile {
        margin-left: 12px;
      }
      @include desktop {
        margin-top: 20px;
      }

      .my-page-name-wrapper {
        display: flex;
        align-items: center;
      }
    }
  }

  .my-page-watched-contents-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: -20px;

    @include mobile {
      margin-top: 40px;
    }
    @include desktop {
      margin-top: 56px;
    }

    .my-page-watched-title-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      .my-page-title {
        padding-left: 20px;
      }

      .my-page-chip-container {
        display: flex;
        width: 100%;
        overflow-x: auto;

        .my-page-chip-wrapper {
          display: flex;
          white-space: nowrap;
          padding-left: 20px;

          @include mobile {
            padding-top: 24px;
            padding-bottom: 18px;
          }
          @include desktop {
            padding-top: 32px;
            padding-bottom: 16px;
          }

          -ms-overflow-style: none; /* 인터넷 익스플로러 */
          scrollbar-width: none; /* 파이어폭스 */
        }
        .chip-wrapper::-webkit-scrollbar {
          display: none; /* 크롬, 사파리, 오페라, 엣지 */
        }
      }
    }

    .my-page-video-container {
      display: flex;
      overflow-x: auto;
      padding-bottom: 88px;
      padding-left: 20px;
    }

    .my-page-video-wrapper {
      display: flex;

      @include mobile {
        flex-direction: column;
      }
      @include desktop {
        padding-right: calc(50vw - 660px);
        padding-top: 16px;
      }

      .my-page-video-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: calc(100vw - 16px);
        }
        @include desktop {
          width: 1200px;
        }

        .my-page-video-empty-img {
          @include mobile {
            width: 66px;
            height: 66px;
            margin-top: 20px;
            margin-bottom: 8px;
          }
          @include desktop {
            width: 100px;
            height: 100px;
            margin-top: 30px;
            margin-bottom: 12px;
          }
        }
      }
    }
    // -ms-overflow-style: none; /* 인터넷 익스플로러 */
    // scrollbar-width: none; /* 파이어폭스 */

    // .my-page-video-container::-webkit-scrollbar {
    //   display: none; /* 크롬, 사파리, 오페라, 엣지 */
    // }
  }
}

.my-page-emotion-container {
  display: inline-flex;
  flex-direction: column;

  .my-page-emotion-graph-container {
    margin-top: 28px;
    background: #fff;
    @include mobile {
    }
    @include desktop {
      width: 1200px;
      height: 291px;
    }
  }
}
