@import "assets/css/index.scss";

.mypage-container {
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 98px;

  @include mobile {
    width: 100vw;
    padding-top: 17px;
    padding-left: 16px;
  }
  @include desktop {
    padding-top: 48px;
    width: calc(50vw + 600px);
  }

  .mypage-user-container {
    display: flex;
    flex-direction: column;

    @include mobile {
      width: calc(100vw - 32px);
    }
    @include desktop {
      width: 1200px;
      flex-direction: column;
    }

    .mypage-user-info-container {
      display: flex;

      @include mobile {
        margin-bottom: 44px;
      }
      @include desktop {
        flex-direction: column;
        margin-bottom: 56px;
      }
    }

    .mypage-user-edit-container {
      display: flex;
      justify-content: space-between;

      @include mobile {
        padding-left: 12px;
      }
      @include desktop {
        margin-top: 20px;
      }

      .mypage-name-wrapper {
        display: flex;
        align-items: center;
      }
    }
  }

  .mypage-watched-contents-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include mobile {
      margin-top: 40px;
    }
    @include desktop {
      margin-top: 56px;
    }

    .mypage-watched-title-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      .mypage-chip-wrapper {
        overflow-x: auto;
        white-space: nowrap;
        padding-top: 32px;
        padding-bottom: 16px;
        -ms-overflow-style: none; /* 인터넷 익스플로러 */
        scrollbar-width: none; /* 파이어폭스 */
      }
      .mypage-chip-wrapper::-webkit-scrollbar {
        display: none; /* 크롬, 사파리, 오페라, 엣지 */
      }
    }

    .mypage-video-container {
      display: flex;
      overflow-x: auto;
      padding-top: 16px;
      padding-bottom: 88px;
    }

    .mypage-video-wrapper {
      display: flex;
      padding-right: calc(50vw - 660px);
      @include mobile {
        flex-direction: column;
      }

      .mypage-video-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: calc(100vw - 16px);
        }
        width: 1200px;

        .mypage-video-empty-img {
          width: 100px;
          height: 100px;
          margin-bottom: 12px;
        }
      }
    }
  }
}

.mypage-emotion-container {
  display: inline-flex;
  flex-direction: column;

  .mypage-emotion-graph-container {
    margin-top: 28px;
    background: #fff;
    @include mobile {
    }
    @include desktop {
      width: 1200px;
      height: 291px;
    }
  }
}
