@import "assets/css/index.scss";

.mypage-container {
  display: inline-flex;
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 98px;
  width: calc(50vw + 600px);

  .mypage-user-container {
    display: flex;
    width: 1200px;
    flex-direction: column;
    margin-bottom: 56px;

    .mypage-name-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 20px;

      .mypage-name-wrapper {
        display: flex;
        align-items: center;
      }
    }
  }

  .mypage-watched-contents-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .mypage-chip-wrapper {
      margin-top: 32px;
    }

    .mypage-video-container {
      display: flex;
      margin-top: 32px;
      overflow: auto;
    }

    .mypage-video-wrapper {
      display: flex;
      padding-right: calc(50vw - 660px);

      .mypage-video-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1200px;

        .mypage-video-empty-img {
          width: 100px;
          height: 100px;
          margin-bottom: 12px;
        }
      }
    }
  }
}

.mypage-emotion-container {
  margin-top: 88px;
  display: inline-flex;
  flex-direction: column;

  .mypage-emotion-graph-container {
    margin-top: 28px;
    background: #fff;
    width: 1200px;
    height: 291px;
  }
}
